In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

### Логичтическая регрессия

Логистическая регрессия используется для задач классификации,

при этом вычисляется вероятность принадлежности

события к определенному классу.

Задача алгоритма логистической регрессии - найти

подходящие коэффициенты w при признаках x:

z = w0 + w1 * x1 + w2 * x2 +...+wm * xm

Величина z помещается в сигмоидную функцию для вычисления вероятности:

f(x) = 1 / (1 + e^-z)

Значение f(x) будет расположено на отрезке [0, 1].

f(x) - вероятность отнесения события к классу 1,

1 - f(x) - вероятность отнесения события к классу 0.

### Log loss

Алгоритм логистической регрессии минимизирует величину logloss:

logloss = -y * ln(p) - (1 - y) * ln(1 - p)

где y - истинное значение (0 или 1)

p - вычесленная алгоритмом вероятность того, что событие принадлежит классу 1

### Titanic

Для изучения классификации мы будем использовать

датасет с информацией о пассажирах **Titanic** с сайта Kaggle.com

Ссылка: https://www.kaggle.com/c/titanic/data

Нам понадобится файл под названием train.csv, который мы поместим в папку input:

In [2]:
data = pd.read_csv('./train.csv')

In [3]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Установим в качестве индекса Passengerld - так нам будет проще отслеживать, с информацией о каком пассажире мы работаем

In [4]:
data = data.set_index('PassengerId')

In [5]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Наша задача - определить, выжил ли человек при крушении Титаника.

В поле Survived выжившие пассажиры обозначены единицейб а утонувшие - нулем.

In [7]:
target = 'Survived'

In [8]:
y = data[target]

In [9]:
X = data.drop(target, axis=1)

### Изучение качества данных и их очистка

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

В поле Cabin слишком много пропущенных значений,

в этом уроке мы не будем его использовать.

Столбцы Name и Ticket также в этот раз не рассматриваем.

Удалим эти поля:

In [11]:
X = X.drop(['Cabin', 'Name', 'Ticket'], axis=1)

В поле возраст 20% значений не заполнено. Заменим пропущенные значения на значения среднего возраста.

In [12]:
mean_age = X['Age'].mean()
mean_age

29.69911764705882

In [13]:
X['Age'] = X['Age'].fillna(mean_age)

In [14]:
X['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

В поле Embarked, которое является текстовым, не хватает двух значений,

заполним пропущенные значения наиболее часто встречающимся значением (мода)

In [15]:
X['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [16]:
embarked_mode = X['Embarked'].mode()[0]
embarked_mode

'S'

In [17]:
X['Embarked'] = X['Embarked'].fillna(embarked_mode)

In [18]:
X['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

### Работа с категориальными признаками

Признак пола пассажира (Sex) - категориальная переменная. Так как в ней два класса,

то мы можем представить одной колонкой со значени/ми 0 и 1:

In [20]:
X['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [21]:
X['Sex'] = (X['Sex'] == 'female').astype(int)

In [22]:
X['Sex'].value_counts()

0    577
1    314
Name: Sex, dtype: int64

Ещё одна категориальная переменная - Embarked.

Преобразуем её значения в dummy-переменные.

Теперь каждому её значению будет отведен отдельный столбец,

в котором возможны два числа:

    1 (переменная равна данному значению),
    
    0 (переменная не равна данному значению)

In [23]:
X = pd.get_dummies(X)

Переменная Embarked преобразовалась в дамми-переменные Embarked_C, Embarked_Q, Embarked_S:

In [24]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int64
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    uint8
 7   Embarked_Q  891 non-null    uint8
 8   Embarked_S  891 non-null    uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 51.3 KB

In [26]:
X.head(10)

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,3,0,22.000000,1,0,7.2500,0,0,1
2,1,1,38.000000,1,0,71.2833,1,0,0
3,3,1,26.000000,0,0,7.9250,0,0,1
4,1,1,35.000000,1,0,53.1000,0,0,1
5,3,0,35.000000,0,0,8.0500,0,0,1
6,3,0,29.699118,0,0,8.4583,0,1,0
7,1,0,54.000000,0,0,51.8625,0,0,1
8,3,0,2.000000,3,1,21.0750,0,0,1
9,3,1,27.000000,0,2,11.1333,0,0,1
10,2,1,14.000000,1,0,30.0708,1,0,0

Переменную Pclass можно отправить в модель в таком виде,

какая она есть сейчас, так как она представлена числами,

но так как это все-таки не количественная переменная

(например, нельзя сказать, что между классами 1 и 2 такая же "разность",

как и между классами 2 и 3), то её так же переводим в дамми-переменные.

Для этого поменяем её тип данных на category

и ещё раз применим функцию get_dummies

ко всему датафрейму.

Эта функция переведет в дамми-переменные все нечисловые признаки.

In [27]:
X['Pclass'].unique()

array([3, 1, 2])

In [28]:
X['Pclass'] = X['Pclass'].astype('category')

In [29]:
X = pd.get_dummies(X)

In [30]:
X.columns

Index(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [31]:
X.head(10)

,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,
1,0,22.000000,1,0,7.2500,0,0,1,0,0,1
2,1,38.000000,1,0,71.2833,1,0,0,1,0,0
3,1,26.000000,0,0,7.9250,0,0,1,0,0,1
4,1,35.000000,1,0,53.1000,0,0,1,1,0,0
5,0,35.000000,0,0,8.0500,0,0,1,0,0,1
6,0,29.699118,0,0,8.4583,0,1,0,0,0,1
7,0,54.000000,0,0,51.8625,0,0,1,1,0,0
8,0,2.000000,3,1,21.0750,0,0,1,0,0,1
9,1,27.000000,0,2,11.1333,0,0,1,0,0,1
10,1,14.000000,1,0,30.0708,1,0,0,0,1,0

### Цель разбиения данных на тренировочный, валидационный и тестовые датасеты

В этот раз мы будем более работать  с разделением данных для модели более тщательно,

мы разобъем данные из файла train.csv на две части:

тренировочный набор данных (признаки в  X_train, целевая переменная в y_train)

и валидационный (соответственно X_valid и y_valid).

На тренировачном датасете мы будем строить модель, а на валидационном - проверять её качество.

После проверки на валидационном сете можно будет окончательно проверить модель на тестевом сете

(содержится в файле train.csv по вышеуказанной ссылке -

фактическое значение целевой переменной в тестовом наборе отсутствует,

рекомендуем самостоятельно проверить точность данных при отправке решения на странице соревнования).

In [32]:
# Параметр test_size будет определять, какую долю данных
# из train.csv мы берем для валидационного датасета
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=42)

### Построение модели

В начале работы над любой задачей рекомендуется сначала сделать простую модель,

не затрачивая большого количества времени.

Затем можно будет оценивать новые модели, сравнивая их качество

с качеством первоначальной (базовой) модели.

Сначала посмотрим на информацию о принаках:

In [33]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 299 to 103
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sex         668 non-null    int64
 1   Age         668 non-null    float64
 2   SibSp       668 non-null    int64
 3   Parch       668 non-null    int64
 4   Fare        668 non-null    float64
 5   Embarked_C  668 non-null    uint8
 6   Embarked_Q  668 non-null    uint8
 7   Embarked_S  668 non-null    uint8
 8   Pclass_1    668 non-null    uint8
 9   Pclass_2    668 non-null    uint8
 10  Pclass_3    668 non-null    uint8
dtypes: float64(2), int64(3), uint8(6)
memory usage: 35.2 KB

Все признаки - числовые, поэтому мы можем построить модель, используя все признаки.

In [34]:
lr = LogisticRegression()

In [35]:
lr.fit(X_train, y_train)

LogisticRegression()

In [36]:
y_pred = lr.predict(X_valid)

In [37]:
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0])

Метрика Accuracy (доля правильных ответов)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
accuracy_score(y_valid, y_pred)

0.8026905829596412

Можно сравнить с Accuracy на тренировачном датасете

In [40]:
y_pred_train = lr.predict(X_train)

In [41]:
accuracy_score(y_train, y_pred_train)

0.8083832335329342

### Вычисление вероятности событий

In [42]:
y_proba = lr.predict_proba(X_valid)

In [43]:
# Вероятности событий 0 и 1 для каждого пассажира
y_proba

array([[0.88803847, 0.11196153],
       [0.7306994 , 0.2693006 ],
       [0.87015651, 0.12984349],
       [0.08991937, 0.91008063],
       [0.25062016, 0.74937984],
       [0.07826308, 0.92173692],
       [0.33446958, 0.66553042],
       [0.9052244 , 0.0947756 ],
       [0.24542475, 0.75457525],
       [0.10340605, 0.89659395],
       [0.69433675, 0.30566325],
       [0.93487211, 0.06512789],
       [0.62484706, 0.37515294],
       [0.8476136 , 0.1523864 ],
       [0.75859308, 0.24140692],
       [0.07898047, 0.92101953],
       [0.72748704, 0.27251296],
       [0.33438491, 0.66561509],
       [0.70247546, 0.29752454],
       [0.70651162, 0.29348838],
       [0.88386345, 0.11613655],
       [0.64286509, 0.35713491],
       [0.39821922, 0.60178078],
       [0.8694494 , 0.1305506 ],
       [0.89833287, 0.10166713],
       [0.92821101, 0.07178899],
       [0.56597441, 0.43402559],
       [0.72832999, 0.27167001],
       [0.9144287 , 0.0855713 ],
       [0.42638414, 0.57361586],
       [0.86654162, 0.13345838],
       [0.35847562, 0.64152438],
       [0.48100121, 0.51899879],
       [0.41666522, 0.58333478],
       [0.86273767, 0.13726233],
       [0.86423029, 0.13576971],
       [0.58764896, 0.41235104],
       [0.33446958, 0.66553042],
       [0.06807562, 0.93192438],
       [0.90119358, 0.09880642],
       [0.71253279, 0.28746721],
       [0.92109508, 0.07890492],
       [0.90112761, 0.09887239],
       [0.86537364, 0.13462636],
       [0.4371056 , 0.5628944 ],
       [0.91111172, 0.08888828],
       [0.86639575, 0.13360425],
       [0.87988996, 0.12011004],
       [0.88427981, 0.11572019],
       [0.66870937, 0.33129063],
       [0.26566214, 0.73433786],
       [0.21285967, 0.78714033],
       [0.96298626, 0.03701374],
       [0.48735374, 0.51264626],
       [0.95175076, 0.04824924],
       [0.07958272, 0.92041728],
       [0.73690369, 0.26309631],
       [0.05298537, 0.94701463],
       [0.18635007, 0.81364993],
       [0.2633758 , 0.7366242 ],
       [0.87378272, 0.12621728],
       [0.11635229, 0.88364771],
       [0.18917577, 0.81082423],
       [0.61164067, 0.38835933],
       [0.86537364, 0.13462636],
       [0.3263627 , 0.6736373 ],
       [0.59337753, 0.40662247],
       [0.89920762, 0.10079238],
       [0.84631692, 0.15368308],
       [0.13239034, 0.86760966],
       [0.20087245, 0.79912755],
       [0.03546013, 0.96453987],
       [0.45259652, 0.54740348],
       [0.10171141, 0.89828859],
       [0.88058405, 0.11941595],
       [0.93331822, 0.06668178],
       [0.34015582, 0.65984418],
       [0.06395438, 0.93604562],
       [0.207479  , 0.792521  ],
       [0.55916006, 0.44083994],
       [0.94376431, 0.05623569],
       [0.16602725, 0.83397275],
       [0.08369348, 0.91630652],
       [0.86538064, 0.13461936],
       [0.68121593, 0.31878407],
       [0.75868295, 0.24131705],
       [0.06208462, 0.93791538],
       [0.06058705, 0.93941295],
       [0.69896977, 0.30103023],
       [0.90146943, 0.09853057],
       [0.85427487, 0.14572513],
       [0.55669105, 0.44330895],
       [0.80497863, 0.19502137],
       [0.86538528, 0.13461472],
       [0.90119358, 0.09880642],
       [0.89630139, 0.10369861],
       [0.76407472, 0.23592528],
       [0.93677954, 0.06322046],
       [0.19722725, 0.80277275],
       [0.89329274, 0.10670726],
       [0.82395199, 0.17604801],
       [0.91549329, 0.08450671],
       [0.04789295, 0.95210705],
       [0.92260518, 0.07739482],
       [0.90337108, 0.09662892],
       [0.91106957, 0.08893043],
       [0.26921519, 0.73078481],
       [0.71977462, 0.28022538],
       [0.90135834, 0.09864166],
       [0.56210141, 0.43789859],
       [0.12402672, 0.87597328],
       [0.87230193, 0.12769807],
       [0.06658404, 0.93341596],
       [0.65759799, 0.34240201],
       [0.38071845, 0.61928155],
       [0.86911057, 0.13088943],
       [0.77149972, 0.22850028],
       [0.65435799, 0.34564201],
       [0.17912129, 0.82087871],
       [0.68890548, 0.31109452],
       [0.80330624, 0.19669376],
       [0.05893104, 0.94106896],
       [0.26468061, 0.73531939],
       [0.55653833, 0.44346167],
       [0.88739468, 0.11260532],
       [0.52803393, 0.47196607],
       [0.18520892, 0.81479108],
       [0.37988757, 0.62011243],
       [0.3515792 , 0.6484208 ],
       [0.87363698, 0.12636302],
       [0.33433146, 0.66566854],
       [0.88803847, 0.11196153],
       [0.73248884, 0.26751116],
       [0.24146695, 0.75853305],
       [0.66282457, 0.33717543],
       [0.25370013, 0.74629987],
       [0.04698154, 0.95301846],
       [0.89925115, 0.10074885],
       [0.93105006, 0.06894994],
       [0.37932255, 0.62067745],
       [0.87343359, 0.12656641],
       [0.27945524, 0.72054476],
       [0.70907109, 0.29092891],
       [0.79886081, 0.20113919],
       [0.54858908, 0.45141092],
       [0.23903704, 0.76096296],
       [0.7219998 , 0.2780002 ],
       [0.89185994, 0.10814006],
       [0.0513602 , 0.9486398 ],
       [0.93291126, 0.06708874],
       [0.84544379, 0.15455621],
       [0.88406052, 0.11593948],
       [0.8628822 , 0.1371178 ],
       [0.37708861, 0.62291139],
       [0.90112761, 0.09887239],
       [0.90155473, 0.09844527],
       [0.87837437, 0.12162563],
       [0.33442949, 0.66557051],
       [0.23124935, 0.76875065],
       [0.43800973, 0.56199027],
       [0.81899083, 0.18100917],
       [0.61092736, 0.38907264],
       [0.77561114, 0.22438886],
       [0.0686839 , 0.9313161 ],
       [0.8649768 , 0.1350232 ],
       [0.73750198, 0.26249802],
       [0.67788505, 0.32211495],
       [0.12409848, 0.87590152],
       [0.87718188, 0.12281812],
       [0.91552116, 0.08447884],
       [0.42368887, 0.57631113],
       [0.15455022, 0.84544978],
       [0.65748983, 0.34251017],
       [0.24318347, 0.75681653],
       [0.8594702 , 0.1405298 ],
       [0.84637507, 0.15362493],
       [0.68305059, 0.31694941],
       [0.1197072 , 0.8802928 ],
       [0.31135892, 0.68864108],
       [0.71985261, 0.28014739],
       [0.67525748, 0.32474252],
       [0.90750129, 0.09249871],
       [0.91357967, 0.08642033],
       [0.53306523, 0.46693477],
       [0.23858693, 0.76141307],
       [0.7185368 , 0.2814632 ],
       [0.64782417, 0.35217583],
       [0.90119358, 0.09880642],
       [0.60066194, 0.39933806],
       [0.22914654, 0.77085346],
       [0.93909252, 0.06090748],
       [0.74138403, 0.25861597],
       [0.88856065, 0.11143935],
       [0.89849802, 0.10150198],
       [0.29246912, 0.70753088],
       [0.12249792, 0.87750208],
       [0.03535011, 0.96464989],
       [0.7467693 , 0.2532307 ],
       [0.0845388 , 0.9154612 ],
       [0.57230693, 0.42769307],
       [0.96131072, 0.03868928],
       [0.41768968, 0.58231032],
       [0.10789887, 0.89210113],
       [0.67072681, 0.32927319],
       [0.80192263, 0.19807737],
       [0.34551006, 0.65448994],
       [0.89850533, 0.10149467],
       [0.67775664, 0.32224336],
       [0.84180314, 0.15819686],
       [0.9455578 , 0.0544422 ],
       [0.3199308 , 0.6800692 ],
       [0.90231505, 0.09768495],
       [0.08446966, 0.91553034],
       [0.86538763, 0.13461237],
       [0.62484706, 0.37515294],
       [0.90026336, 0.09973664],
       [0.19281432, 0.80718568],
       [0.64364593, 0.35635407],
       [0.15742689, 0.84257311],
       [0.90146943, 0.09853057],
       [0.90119358, 0.09880642],
       [0.14370257, 0.85629743],
       [0.89868834, 0.10131166]])

Нас интересует вероятность события 1 (правый столбец) -

при получении ответа значения из него округляются до 0 или до 1

### Сохранение данных

Сохраним обработанные данные, они пригодятся для следующих уроков

In [44]:
X_train.to_pickle('X_train.pkl')
y_train.to_pickle('y_train.pkl')

X_valid.to_pickle('X_valid.pkl')
y_valid.to_pickle('y_valid.pkl')